# IDE files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
*.iml
.externalNativeBuild

# Local gradle config and binary
/local.properties
.gradle

# Build artifacts
build/
bin/

# MacOS preview file
.DS_Store

# Jekyll local site artifacts
Gemfile.lock
_site/

# Other
.kotlintest
