/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
*.iml
.externalNativeBuild

.kotlintest

/local.properties
.gradle
build/
bin/

.DS_Store
